.bio-text {
  font-size: 1.2rem;
  width: 100%;
  overflow: hidden;
  padding: 0 3rem;
}

.bio-text p {
  display: block;
  font-size: 1rem;
  letter-spacing: normal;
  color: inherit;
  text-shadow: none;
  animation: none;
}
