.bio-container {
  text-align: center;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  opacity: 1;
  font-size: 1rem;
}

.bio-divider {
  width: 60%;
  max-width: 320px;
  border: 0;
  border-top: 1px solid var(--primary);
  opacity: 0.2;
}

.bio-container.fade-in {
  opacity: 1;
}
