.bio-container {
  text-align: center;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  opacity: 1;
  font-size: 1rem;
}

.bio-container.fade-in {
  opacity: 1;
}
