.profile-picture {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 220ms ease;
}

.profile-picture:hover,
.profile-picture:focus-within {
  transform: scale(1.1);
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture a {
  display: block;
}

.profile-picture a:hover,
.profile-picture a:focus-visible {
  opacity: 1;
  color: inherit;
}
