.profile-picture {
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 1400ms cubic-bezier(0.22, 1, 0.36, 1);
}

.profile-picture:hover,
.profile-picture:focus-within {
  transform: scale(1.03);
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture a {
  display: block;
}

.profile-picture a:hover,
.profile-picture a:focus-visible {
  opacity: 1;
  color: inherit;
}
