.app {
  color: var(--text-secondary);
  background-color: var(--secondary);
  background-image: var(--app-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
}
