.bio-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 3rem;
  justify-content: center;
  min-height: 3rem;
}

.bio-links a {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  transition: transform 400ms cubic-bezier(0.16, 1, 0.3, 1),
    opacity 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

.link-icon {
  font-size: 3rem;
}

.bio-links a:hover {
  transform: rotate(360deg);
  color: inherit;
  opacity: 1;
}
