.bio-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 3rem;
  justify-content: center;
}

.link-icon {
  font-size: 3rem;
  transition: transform 700ms cubic-bezier(0.16, 1, 0.3, 1),
    opacity 700ms cubic-bezier(0.16, 1, 0.3, 1);
}

.bio-links a:hover {
  transform: scale(1.08);
  opacity: 1;
}
